frames_640x480.pt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
evk5/recording_2024-05-22_16-27-14.raw filter=lfs diff=lfs merge=lfs -text
